body{
    background-image: url('../img/patron.jpg');
}

.jumbotron{
    background-color: #E7773F;
    color: antiquewhite;
}
.card-header{
    background-color: #E7773F;
    color: antiquewhite !important; 
}
.card-body{
    background-color: #F0EDEB;
}
.navbar{
    background-color: #2b2b2b !important;
}

.navbar-brand:link,.navbar-brand:visited{
    color: gray !important;
}
.navbar-brand:hover,.navbar-brand:active{
    color: white !important;
}
.nav-link{
    color: gray !important;
}
#navbar .navbar-link:link,#navbar .navbar-link:visited{
    color: gray !important;
}
#navbar .navbar-link:hover,#navbar .navbar-link:active{
    color: white !important;
}
.btn{
    background-color: #E7773F
}